@import url('https://fonts.googleapis.com/css?family=Sofia');
:root {
  --main-color: #f4f4f2;
  --sec-color: #e8e8e8;
  --third-color: #bbbfca;
  --final-color: #495464;
}

body {
  margin: 0;
  font-family: -apple-system, Sofia,BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
  color: var(--final-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.web-header{
	padding: 20px;
	font-style: 
}

.web-name{
	text-align: center;
	margin: 0 auto;
	font-size: 3rem;
}
