@import url('https://fonts.googleapis.com/css?family=Sofia');
:root {
  --main-color: #f4f4f2;
  --sec-color: #e8e8e8;
  --third-color: #bbbfca;
  --final-color: #495464;
}

body {
  margin: 0;
  font-family: -apple-system, Sofia,BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: var(--main-color);*/
  color: var(--third-color);
  background-image: url('./assets/c.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.web-header{
	padding: 20px;
	font-style: 
}

.web-name{
	text-align: center;
	margin: 0 auto;
	font-size: 3rem;
}

.block{
  display: flex;
  align-items: center; 
}
